/* шрифты */
@font-face {
  font-family: "Cuprum-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cuprum/regular/cuprum-v11-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("../fonts/cuprum/regular/cuprum-v11-latin_cyrillic-regular.woff")
      format("woff");
}

@font-face {
  font-family: "Cuprum-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cuprum/700/cuprum-v11-latin_cyrillic-700.woff2")
      format("woff2"),
    url("../fonts/cuprum/700/cuprum-v11-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "Cuprum-Italic";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/cuprum/italic/cuprum-v11-latin_cyrillic-italic.woff2")
      format("woff2"),
    url("../fonts/cuprum/italic/cuprum-v11-latin_cyrillic-italic.woff")
      format("woff");
}

@font-face {
  font-family: "PT-Sans-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans/regular/pt-sans-v11-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("../fonts/pt-sans/regular/fonts/pt-sans-v11-latin_cyrillic-regular.woff")
      format("woff");
}

@font-face {
  font-family: "PT-Sans-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans/700/pt-sans-v11-latin_cyrillic-700.woff2")
      format("woff2"),
    url("../fonts/pt-sans/700/pt-sans-v11-latin_cyrillic-700.woff")
      format("woff");
}

@font-face {
  font-family: "PT-Sans-Italic";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans/italic/pt-sans-v11-latin_cyrillic-italic.woff2")
      format("woff2"),
    url("../fonts/pt-sans/italic/fonts/pt-sans-v11-latin_cyrillic-italic.woff")
      format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum-Regular", Arial, sans-serif;
  font-size: 17px;
  line-height: 1;
  font-weight: normal;
  color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-styles-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation a,
.head-navigation a {
  color: #ffffff;
}

.red-button {
  color: #ffffff;
  background-color: #ee3643;
}

.red-button:hover {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.white-button {
  color: #000000;
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.white-button:hover {
  border-color: #bdc6ca;
}

.white-button:active {
  border-color: #ee3643;
}

.page-header {
  background-color: #f4f7f9;
}

.page-header {
  background-color: #f4f7f9;
}

.head-navigation {
  height: 42px;
  font-size: 17px;
  line-height: 1.05;
  background-color: #293449;
}

.head-navigation a {
  display: block;
}

.head-navigation img {
  padding: 14px 56px 13px 55px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px #9c2d36;
}

.head-logo:hover img {
  background-color: #ca2c37;
}

.head-logo:active img {
  background-color: #ba2732;
}

.head-navigation .place-order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 42px;
  font-size: 17px;
  line-height: 1.05;
  background-color: #63a63e;
}

.head-navigation .place-order:hover {
  background-color: #5fbb2d;
}

.head-navigation .place-order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.head-navigation .bookmarks,
.head-navigation .cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 42px;
}

.head-navigation .bookmarks:hover,
.head-navigation .cart:hover {
  background-color: #212a3a;
}

.head-navigation .bookmarks:active,
.head-navigation .cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.head-navigation .full-cart,
.head-navigation .full-cart:active,
.head-navigation .full-cart:hover {
  color: #ffffff;
  background-color: #ee3643;
}

.bookmarks::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  background: url("../img/svg/bookmark-icon.svg");
  left: 10px;
  opacity: 0.3;
}

.cart::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  background: url("../img/svg/cart-icon.svg") no-repeat;
  left: 10px;
  opacity: 0.3;
}

.bookmarks:hover::before,
.cart:hover::before {
  opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.5;
}

.header-search {
  position: relative;
}

.header-search input,
.header-search button {
  border: none;
}

.header-search input {
  width: 220px;
  height: 40px;

  padding-left: 49px;
  font-size: 17px;
  line-height: 1.05;
  color: #ffffff;
  background: #293449;
  border: none;
}

.header-search svg {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
  cursor: pointer;
}

.header-search input::placeholder {
  color: #ffffff;
}

.header-search:hover,
.header-search:hover input {
  background-color: #212a3a;
  color: #ffffff;
}

.header-search:hover svg {
  opacity: 1;
}

.header-search input:focus {
  color: #000000;
  background-color: #ffffff;
}

.header-search input:focus + .search-icon path {
  fill: #ee3643;
}

/* Разобраться */

.user-navigation p:first-of-type {
  font-family: "Cuprum-Italic", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.43;
  color: #ee3643;
}

.header-contacts p:first-of-type {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #32425c;
}

.header-contacts a:first-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 39px;
  position: relative;
  font-size: 21px;
  line-height: 1;
  color: #ee3643;
  border: 3px solid white;
}

.head-phone svg {
  padding-left: 15px;
  padding-right: 40px;
}

.log-out a {
  font-size: 21px;
  line-height: 1;
  color: black;
}

.log-out .login-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 121px;
  height: 45px;
  margin-right: 5px;
  background-color: #ffffff;
}

.login-button svg {
  padding-left: 14px;
  padding-right: 14px;
}

.login-button path {
  fill: #c5c5c5;
}

.log-out .signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  margin-left: 5px;
  background-color: #ffffff;
}

.log-out li a:hover {
  color: #ee3643;
}

.log-out li a:active {
  color: rgba(0, 0, 0, 0.3);
}

.log-out .login-button:hover path {
  fill: #32425c;
}

.log-out .login-button:active path {
  fill: #c5c5c5;
}

.user-menu .user-name {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
  width: 233px;
  height: 45px;
  font-size: 21px;
  line-height: 1;
  color: #000000;
  background-color: #ffffff;
}

.user-menu .logout {
  position: relative;
  min-width: 67px;
  height: 45px;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.logout svg {
  position: absolute;
  top: 14px;
  right: 10px;
  opacity: 0.3;
  cursor: pointer;
}

.logout svg:hover {
  opacity: 1;
}

.logout svg:active {
  opacity: 0.3;
}

.user-name::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  left: 10px;
  background: url("../img/svg/user-icon.svg");
  opacity: 0.3;
}

.user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-name:hover::before,
.user-name:hover::after {
  opacity: 1;
}

.user-name:active::before,
.user-name:active::after {
  opacity: 0.3;
}

.log-in li:nth-child(3) a,
.log-in li:nth-child(4) a {
  position: relative;
  margin: 0 16px;
  font-size: 16px;
  line-height: 1.12;
  text-decoration: underline;
  color: #32425c;
}

.log-in li:nth-child(3) a:hover,
.log-in li:nth-child(4) a:hover {
  color: #ee3643;
}

.log-in li:nth-child(3) a:active,
.log-in li:nth-child(4) a:active {
  color: rgba(55, 66, 92, 0.3);
}

.orders::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  width: 4px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.main-navigation {
  background-color: #32425c;
  box-shadow: 0px 5px 0px 0px #293449;
}

.main-navigation li {
  flex-grow: 1;
}

.main-navigation a {
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #161d29;
}

/*---- стили index ----*/

.material {
  margin-right: 20px;
  background: #ffbf47 url("../img/category-materials.png") no-repeat 213px 30px;
}

.tools {
  background: #3bbce3 url("../img/category-instrument.png") no-repeat 191px 30px;
}

.instrument {
  background-image: url("../img/slider-image-1.jpg");
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-top: 20px;
  width: 620px;
  height: 266px;
}

.slide-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  height: 38px;
  margin: 110px 0 22px 23px;
  margin-left: 23px;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.slide-title {
  margin: 23px 0 0 23px;
  font-family: "Cuprum-Bold", Arial, sans-serif;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}

.slide-info {
  margin: 12px 0 0 23px;
  font-size: 18px;
  line-height: 1.33;
}

.slider-radio label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 12px;
  vertical-align: top;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-radio {
  position: absolute;
  bottom: 36px;
  right: 284px;
  z-index: 20;
  font-size: 0;
}

.slide {
  display: none;
}

#slider-1:checked ~ .slider #slide1,
#slider-2:checked ~ .slider #slide2 {
  display: block;
}

#slider-1:checked ~ .slider .radio-fist-slider,
#slider-2:checked ~ .slider .radio-second-slider {
  width: 7px;
  height: 7px;
  background-color: #ee3643;
  border: 2px solid #ffffff;
}

#slider-2:checked ~ .slider {
  background-color: #857a6d;
  background-image: url("../img/slider-image-1.jpg");
}

#slider-1:checked ~ .slider {
  background-color: #857a6d;
  background-image: url("../img/slider-image-2.jpg");
}

.slider .previous-slider {
  position: absolute;
  top: 114px;
  left: 25px;
  width: 60px;
  height: 59px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
  cursor: pointer;
}

.previous-slider {
  background: url("../img/svg/icon-left.svg") no-repeat 0px 0px;
}

.slider .next-slider {
  position: absolute;
  top: 114px;
  left: 580px;
  width: 60px;
  height: 59px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
  cursor: pointer;
}

.next-slider {
  background: url("../img/svg/icon-right.svg") no-repeat 0px 0px;
}

.technics {
  margin-bottom: 20px;
  background: #dc91d8 url("../img/category-technics.png") no-repeat 191px 30px;
}

.discount {
  margin-bottom: 20px;
  background: #8ed78f url("../img/category-sale.png") no-repeat 196px 25px;
}

.delivery {
  background: #ffc047 url("../img/category-delivery.png") no-repeat 191px 30px;
  background-color: #ffc047;
}

.popular-goods-title {
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
}

.popular-goods-title h2 {
  margin: 33px 0 35px 30px;
  padding: 0;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #32425c;
}

.popular-goods-title a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  margin-right: 25px;
  width: 253px;
  height: 38px;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.popular-brands-title {
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
}

.popular-brands-title h2 {
  margin: 33px 0 35px 30px;
  padding: 0;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #32425c;
}

.popular-brands-title a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  margin-right: 25px;
  width: 253px;
  height: 38px;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

/* Стили элемента services */

.services-title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
}

.services .text {
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.84;
  color: #000000;
}

.services-slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  margin-top: 70px;
}

.services-radio label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 22px;
  width: 240px;
  height: 60px;
  font-family: "Cuprum-Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 1.42;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.services-radio {
  position: relative;
}

.services-radio::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  bottom: 35px;
  right: 0;
  background: url("../img/shadow-line.png") no-repeat;
}

.services-list {
  position: relative;
  margin-left: 80px;
}

.delivery-item {
  width: 275px;
}

.warranty-item {
  width: 379px;
}

.credit-item {
  width: 279px;
}

.services-slider-title {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #32425c;
}

.services-slider-text {
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.84;
  color: #000000;
}

.services-slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 31px;
  width: 195px;
  height: 38px;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff5357;
  border-radius: 3px;
}

.services-slider-item {
  display: none;
  min-height: 265px;
}

#services-slider-1:checked ~ .services-slider #services1,
#services-slider-2:checked ~ .services-slider #services2,
#services-slider-3:checked ~ .services-slider #services3 {
  display: block;
}

#services-slider-1:checked ~ .services-slider .delivery-slider,
#services-slider-2:checked ~ .services-slider .warranty-slider,
#services-slider-3:checked ~ .services-slider .credit-slider {
  color: #32425c;
  background-color: #ffffff;
  border: 0;
}

#services-slider-1:checked ~ .services-slider {
  background: url("../img/service-delivery.png") no-repeat;
  background-position: 470px 25px;
}

#services-slider-2:checked ~ .services-slider {
  background: url("../img/service-warranty.png") no-repeat;
  background-position: 550px 3px;
}

#services-slider-3:checked ~ .services-slider {
  background: url("../img/service-credit.png") no-repeat;
  background-position: 475px 3px;
}

/*---- стили catalog ----*/

.breadcrumb li,
.breadcrumb a {
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  color: #000000;
}

.catalog-title {
  margin: 0;
  padding: 32px 742px 34px 30px;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.filter {
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  text-transform: uppercase;
}

.filter h2 {
  display: flex;
  align-items: center;
  width: 202px;
  height: 38px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 18px;
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  background-color: #f7f3ec;
  border-radius: 4px;
}

.filter fieldset {
  width: 220px;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.brand-filter label,
.accumulator-filter label {
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  line-height: 1.33;
  color: #000000;
}

.price-filter legend,
.brand-filter legend,
.accumulator-filter legend {
  font-family: "PT-Sans-Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.76;
  color: #000000;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 23px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg/checkbox-on.svg");
  opacity: 0.3;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/svg/radio-off.svg");
  opacity: 0.3;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/svg/radio-on.svg");
  opacity: 0.3;
}

.filter button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 36px;
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.sorting h2 {
  margin: 0;
  padding-left: 20px;
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  color: #000000;
}

.sorting-by-price,
.sorting-by-type,
.sorting-by-functional {
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting-by-price:hover,
.sorting-by-type:hover,
.sorting-by-functional:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.current-sorting,
.current-sorting:hover {
  color: #ee3643;
  border: none;
}

.sorting-up path,
.sorting-down path {
  fill: #c5c5c5;
}

.sorting-up:hover path,
.sorting-down:hover path {
  fill: #000000;
}

.current-sorting path,
.current-sorting:hover path {
  fill: #ee3643;
}

.product-listing,
.popular-goods-products {
  font-family: "PT-Sans-Bold", Arial, sans-serif;
}

.catalog-product {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

.catalog-product .product-name {
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
}

.catalog-product .product-discount {
  font-size: 17px;
  line-height: 1.05;
  text-decoration: line-through;
  color: #999999;
}

.catalog-product .product-discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.catalog-product .product-price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 12px 36px 11px 36px;
  font-size: 17px;
  line-height: 1.05;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-product .product-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

.catalog-product .flag-new {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.catalog-product .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-product .product-action {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.product-action .buy,
.product-action .bookmark {
  display: block;
  width: 129px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  font-family: "Cuprum-Regular", Arial, sans-serif;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.28;
  text-decoration: none;
  text-transform: uppercase;
}

.product-action .buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 10px;
  background: url("../img/svg/cart-icon.svg");
  opacity: 0.3;
}

.catalog-product .product-action {
  display: none;
}

.catalog-product:hover .product-action {
  display: block;
}

.catalog-product:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-product:hover img {
  opacity: 0;
}

.product-action .bookmark {
  color: #32425c;
  background-color: #ffffff;
  border-bottom-color: #63a63e;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.product-action .buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.product-action .buy:active {
  background-color: #518534;
  border: 3px solid #518534;
}

.product-action .buy:hover::before,
.product-action .buy:active::before {
  opacity: 1;
}

.product-action .bookmark:hover {
  border: 3px solid #32425c;
}

.product-action .bookmark:active {
  opacity: 0.3;
}

.pagination-list {
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
}

.pagination-list a {
  color: #000000;
}

.about-content h2 {
  padding: 0;
  margin: 0;

  padding-bottom: 40px;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
}

.about-content p {
  padding: 0;
  margin: 0;
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.84;
  color: #000000;
}

/*info*/

.info-company {
  background-color: #ffffff;
}

.about-company {
  width: 519px;
}

.about-company h2 {
  margin-bottom: 38px;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
}

.about-company p {
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.84;
  color: #000000;
}

.about-company ul {
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 1.11;
  text-transform: none;
  color: #000000;
}

.about-company a {
  padding: 14px 41px 12px 40px;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.contacts-company h2 {
  margin-bottom: 38px;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
}

.contacts-company p {
  width: 179px;
  margin-bottom: 33px;
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.map-mini {
  margin-bottom: 36px;
}

.contacts-company a {
  padding: 14px 63px 12px 60px;

  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.footer-info {
  min-height: 193px;
  font-size: 18px;
  line-height: 1.33;
  background-color: #32425c;
}

.footer-info a {
  color: #ffffff;
}

.footer-navigation a {
  font-size: 18px;
  line-height: 1.33;
}

.footer-category a {
  font-size: 18px;
  line-height: 1.33;
  color: #ffd180;
}

.footer-logo img {
  padding: 20px 41px 20px 41px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px #9c2d36;
  margin-right: 173px;
}

.footer-logo:hover img {
  background-color: #ca2c37;
}

.footer-logo:active img {
  background-color: #ba2732;
}

.footer-navigation a:hover,
.footer-category a:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-category a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-about {
  min-height: 107px;
  font-size: 16px;
  line-height: 1.12;
  background-color: #293449;
}

.footer-about a:nth-child(2) {
  color: #ffd180;
}

.footer-about a:nth-child(2):hover {
  text-decoration: underline;
}

.footer-about a:nth-child(2):active {
  text-decoration: none;
  color: #ee3643;
}

/* ----- стили  modal ----- */

.modal {
  display: none;
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  z-index: 99999;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  background: url("../img/svg/close-icon.svg") no-repeat;
  text-indent: -1000px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  z-index: 30;
}

/* Стили для модального окна feedback*/

.modal-feedback {
  display: none;
  bottom: 50%;
  left: 50%;
  width: 620px;
  min-height: 423px;
  margin-bottom: -215px;
  margin-left: -310px;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7);
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 460px;
  height: 318px;
  padding: 48px 80px 0 80px;
  border: none;
}

.feedback-user-info {
  display: flex;
  justify-content: space-between;
  resize: none;
}

.feedback-form label {
  display: block;
  margin-bottom: 13px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #000000;
}

.feedback-user-info input {
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  padding-left: 16px;
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.feedback-text {
  margin-top: 22px;
}

.feedback-text textarea {
  box-sizing: border-box;
  width: 460px;
  height: 114px;
  padding-top: 13px;
  padding-left: 16px;
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  resize: none;
}

.feedback-user-info input::placeholder,
.feedback-text textarea::placeholder {
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #a9a9a9;
}

.feedback-user-info input:hover,
.feedback-text textarea:hover {
  border-color: #b5b5b5;
}

.feedback-user-info input:active,
.feedback-text textarea:active {
  border-color: #ee3643;
}

.feedback-button {
  width: 460px;
  height: 38px;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.feedback-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
}

/* Стили для модального окна Карта */

.modal-map {
  display: none;
  bottom: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  margin-bottom: -223px;
  margin-left: -470px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}

.modal-map iframe {
  position: relative;
  z-index: 1;
}

.modal-map-img {
  position: absolute;
  top: 0;
  right: 0;
}

/* Стили для модального окна "Товар добавлен в корзину" */

.modal-purchase {
  display: none;
  bottom: 50%;
  left: 50%;
  width: 620px;
  height: 275px;
  margin-left: -310px;
  margin-bottom: -141px;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.purchase-title p {
  position: relative;
  margin: 0;
  padding: 68px 0 68px 179px;
  font-size: 30px;
  line-height: 1;
}

.purchase-title p::after {
  content: "";
  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/svg/modal-purchase.svg");
}

.purchase-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
}

.purchase-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 38px;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.purchase-button-wrapper .red-button {
  margin-right: 20px;
}

.purchase-button-wrapper .white-button:hover {
  border: 1px solid #bdc6ca;
}

.purchase-button-wrapper .white-button:active {
  border: 1px solid #ee3643;
}

/* ----- Сеточные стили ----- */

html,
body {
  min-width: 940px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* ----- Сеточные стили header ----- */

.page-header {
  display: flex;
  flex-direction: column;
}

.head-navigation-wrapper {
  width: 100%;
  background-color: #293449;
}

.head-navigation {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}

.head-description {
  width: 196px;
  padding: 0;
  margin: 50px 0 0 52px;
}

.header-contacts {
  min-width: 270px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 46px;
}

.head-address {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.log-in {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  margin-top: 42px;
}

.log-out {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.main-navigation {
  width: 940px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  padding: 0;
}

.main-navigation a {
  display: block;
  padding: 22px 31px 26px 31px;
}

.main-navigation li:first-of-type a {
  padding-left: 50px;
}

.main-navigation li:last-of-type a {
  padding-right: 50px;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 123px;
  position: relative;
}

.category-item h3 {
  padding: 0;
  margin: 21px 0 0 23px;
  font-family: "Cuprum-Bold", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
}

.category-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 38px;
  margin: 12px 0 0 23px;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.category-item a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.category-item a:active {
  background: rgba(0, 0, 0, 0.3);
}

.material .flag-new {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.material .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

/*----- main index -----*/

.category {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 53px;
}

.category-left-part {
  display: flex;
  flex-wrap: wrap;
}

.category-rigth-part {
  display: flex;
  flex-direction: column;
}

.popular-goods {
  display: flex;
  flex-direction: column;
}

.popular-goods-title {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popular-goods-products {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.popular-goods-products .catalog-product {
  margin-bottom: 0;
}

.popular-brands {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.popular-brands-title {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
}

.popular-brands-logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.popular-brands-item {
  width: 218px;
  height: 145px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #eaeaea;
}

.popular-brands-item:nth-child(4n) {
  margin-right: 0;
}

.popular-goods .catalog-product:nth-child(4n) {
  margin-right: 0;
}

.popular-brands-item {
  display: flex;
}

.popular-brands-item a {
  margin: auto;
}

.popular-brands-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active img {
  opacity: 0.3;
}

.services-wrapper {
  display: flex;
  margin: auto;
  width: 100%;
  background-color: #f4f7f9;
}

.services {
  display: flex;
  flex-direction: column;
  height: 522px;
}

.services-title {
  margin: 0;
  margin-top: 68px;
}

.services-text {
  margin: 0;
  margin-top: 38px;
}

/* Стили блока about company */

.info-company {
  display: flex;
  justify-content: space-between;
}

.about-company {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contacts-company {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-company h2,
.contacts-company h2 {
  margin: 82px 0 0 0;
}

.about-company p:nth-child(2),
.contacts-company p {
  margin: 38px 0 0 0;
}

.info-delivery {
  width: 386px;
}

.info-delivery p {
  margin: 32px 0 0 0;
}

.map-mini {
  margin: 36px 0 40px 0;
}

.info-delivery ul {
  margin-bottom: 37px;
}

.delivery-list li {
  position: relative;
  margin-top: 22px;
  padding-left: 37px;
}

.delivery-list li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.contacts-company a {
  margin-bottom: 86px;
}

.about-company a {
  margin-bottom: 86px;
}

/*----- main catalog -----*/

.breadcrumb {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 25px 0;
}

.breadcrumb-item {
  position: relative;
  margin-right: 40px;
}

.breadcrumb-item:last-child {
  margin: 0;
}

.breadcrumb-item::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -25px;
  width: 8px;
  height: 12px;
  background-image: url("../img/svg/icon-right-small.svg");
}

.breadcrumb .current::after {
  display: none;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.price-filter {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 15px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 8px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 4px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #72c979;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #c5c5c5;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  margin-bottom: 25px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 17px;
}

.price-controls input {
  width: 95px;
  height: 38px;
  font-family: "PT-Sans-Regular", Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  color: #000000;
  border: none;
  border-radius: 4px;
  background-color: #f7f3ec;
}

.max-price {
  position: relative;
  text-align: right;
}

.max-price::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  top: 20px;
  right: 105px;
  background-color: #444444;
}

.brand-filter fieldset {
  padding-bottom: 20px;
}

.brand-filter {
  margin-top: 25px;
}

.accumulator-filter fieldset {
  padding-bottom: 75px;
  border: none;
}

.accumulator-filter {
  margin-top: 20px;
}

.filter-item {
  padding-left: 35px;
  margin-top: 15px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.sorting ul {
  margin: 0;
  padding: 0;
}

.sorting {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 700px;
  height: 38px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
  border-radius: 4px;
}

.sorting-by-price {
  margin-left: 140px;
}

.sorting-by-type {
  margin-left: 70px;
}

.sorting-by-functional {
  margin-left: 65px;
}

.sorting-up {
  margin-left: 45px;
}

.sorting-down {
  margin-left: 20px;
}

.product-listing {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.product-listing .catalog-product:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-list .pagination-item-current {
  background-color: #ee3643;
  color: #ffffff;
}

.pagination-list li:last-child a {
  width: 138px;
  height: 34px;
  margin-right: 0;
}

.pagination-list a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-list a:active {
  border: 1px solid #ee3643;
}

.about-content-wrapper {
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  background-color: #f4f7f9;
}

.about-content {
  padding-top: 67px;
  padding-bottom: 73px;
}

/* ----- Сеточные стили footer ----- */

.footer-info-wrapper {
  width: 100%;
  margin-bottom: 0;
  background-color: #32425c;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-address {
  padding: 0;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 53px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.footer-navigation li {
  margin-left: 60px;
}

.footer-navigation li:first-child {
  margin-left: 0;
}

.footer-category {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 38px;
}

.footer-category li {
  margin-left: 60px;
}

.footer-category li:first-child {
  margin-left: 0;
}

.footer-about-wrapper {
  width: 100%;
  background-color: #293449;
}

.footer-about {
  display: flex;
  align-items: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 135px;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.footer-links {
  display: flex;
  margin-left: 119px;
}

.footer-copywrite {
  margin-right: 161px;
}

.footer-feedback {
  margin-right: 53px;
}
